section {
    height: 500px;

    background-color: white;

    border: solid black 1px;
}
body{
    font-family: 'Poppins', sans-serif;
    text-decoration-color: white;
    margin: 0;
}

.hero {
    background-color: #1c1d25;

    height: 100vh;
}

footer {
    height: 500px;

    background-color: black;
}

nav {
    display:flex;
    justify-content: space-between;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
    color: white;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}
 
h2 {
font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.hero-text{
    margin-left: 80px;
    color: white;
}
.subtext{
font-size: 30px;
font-weight: 300;
}
.hero-text{
margin-left: 80px;
margin-bottom: 200px;
}
.button{
 width: 200px;
 height: 55px;
border-radius: 30px;
 background-color: coral;
text-align: center;
font: size 30px;
font-weight: 300;
padding: top 5px;
margin-top: 20px;
}
.button:hover{
background-color: #ef744b;
}
.button:active{
background-color: #a9a9a9;
color: #808080;
}
.socials {
    padding-bottom: 200px;
}
.logo{
height: 80px;
margin: 30px;
}
.social {
margin: 20px;
}

.sub-section{
display:flex;
justify-content: space-around;
padding: 80px;
}
.sub-section-alternative{
display: flex;
flex-direction: column;
text-align: center;
padding: 80px;
}
headshot {
 width: 300px;
 border-radius: 150px;
 margin-left: 80px;
}
.headshot-container{
display: flex;
align-items: center;
}
.project-card{
width: 300px;
height: 500px;
box-shadow: 5px 5px 20px rgb(red, green, blue);
margin: 10px;
}
.project-container{
display: flex;
justify-content: space-around;
}
.project-image{
margin-top: 25px;
width: 250px;
border-radius: 125px;
}
hr{
margin-left: 20px;
margin-right: 20px;
}
.project-link{
text-decoration: none;
color: #ef744b
}
a{
text-decoration: white;
}
 @media only screen and (max-width:1000px){
.project-container{
display: flex;
flex-wrap: wrap;

}
 }
 